<nlog autoReload="true" 
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="d:/Logs/FoodShop.Manager.Api"/>
    <targets>
      <!--default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>  
      <default-wrapper xsi:type="AsyncWrapper">  
        <wrapper-target xsi:type="RetryingWrapper"/>  
      </default-wrapper--> 
      <target name="file" xsi:type="File" 
              layout="${longdate} ${callsite} [${level:uppercase=true}] [${aspnet-item:variable=slaRequestId:lowercase=true}] ${message} ${exception:format=tostring} ${aspnet-item:variable=ImpersonationDetails}" 
              fileName="${logDirectory}/log-dit-${shortdate}.txt" 
              
              archiveFileName="${logDirectory}/archives/log.{##}.txt"
              archiveEvery="Sunday"
              archiveNumbering="Rolling"
              maxArchiveFiles="30"
              
              keepFileOpen="false"
              encoding="UTF-8" />
      <target name="console" xsi:type="ColoredConsole"
              layout="${longdate} ${callsite} [${level:uppercase=true}] [${aspnet-item:variable=slaRequestId:lowercase=true}] ${message} ${exception:format=tostring} ${aspnet-item:variable=ImpersonationDetails}" 
              encoding="UTF-8"/>
      
      <!-- write to the void aka just remove -->
      <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Schroders.Link.*" minlevel="Info" appendTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
  <!--include file="${basedir}/${machinename}.config"/-->
</nlog>

<!--
<targets /> – defines log targets/outputs
<rules /> – defines log routing rules
<extensions /> – loads NLog extensions from the *.dll file
<include />– includes external configuration file
<variable /> – sets the value of a configuration variable
-->